.Sous-container{
    display: flex;
    margin-left: 69%;
    color: #0065FC;
    padding: 32px;
    text-align: center;
    
    


    
}

#activites{
    margin-left: 60px;
    margin-right: 60px;
}    



#logo{
    position: absolute;
    width: 97px;
    margin-left: 7.6%;
    top: 30px;
    padding: 0 2rem;
}

.searchTitreHeader{
    margin-left: 180px;
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.searchSousTitreHeader{
    margin-left: 184px;
    margin-top: 0;
    
}

.searchChoise{
    display: inline-flex;
    margin-left: 180px;
    margin-top: 0;
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    


}

.searchPosition{
    

}





    





