.Sous-container{
    display: flex;
    margin-left: 69%;
    color: #0065FC;
    padding: 32px;
    text-align: center;
    
    


    
}

#activites{
    margin-left: 60px;
    margin-right: 60px;
}    



#logo{
    position: absolute;
    width: 97px;
    margin-left: 7.6%;
    top: 30px;
    padding: 0 2rem;
}

.searchTitreHeader{
    margin-left: 180px;
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.body{
    font-family: "Raleway";
}

.searchSousTitreHeader{
    margin-left: 184px;
    margin-top: 0;
    
}

.searchPosition{
    display: inline-flex;
    margin-left: 180px;
    margin-top: 0;
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    
}

.searchPays{
    display: inline-flex;
    padding: 14px;
    width: 240px;
    font-weight: bold;
}

.searchEntrer{
    padding: 14px;
    height: 60rem;
    background-color: #0065FC;
    color: white;
    border-radius: 0 1rem 1rem 0;
}

.searchFilters{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin-left: 180px;

}

.Result{
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.searchFilterFtitre{
    display: flex;
    align-items: center;
    margin: 1rem;   
background-color:#deebff;
}

.searchFiltersF{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    
    
}

.footer{
    background-color: #f2f2f2;
    width: 100%;
}





    





